<section id="banner">
	<img class="logo" src="/images/logos/transparent_logo.png" />
	<p>The University of Tennessee's resident computer security organization.</p>
	<ul class="actions">
		<li><a href="https://goo.gl/forms/WBSZ9DwdjVdICwMf1" target="_blank" class="button">Join HackUTK</a></li>
		<li><a href="http://discord.hackutk.org/" target="_blank" class="button">Join our Discord</a></li>
		<li><a href="#sponsors" class="button">Our Sponsors</a></li>
	</ul>
	<ul class="actions">
		<li><a href="https://goo.gl/forms/KfmliuYvuiI49qtC3" class="button">Sign up for CTF</a></li>
	</ul>
</section>
