<section id="banner">
	<img class="logo" src="/images/logos/transparent_logo.png" />
	<p>The University of Tennessee's resident computer security organization.</p>
	<ul class="actions">
		<li><a href="/signup" target="_blank" class="button">Join HackUTK</a></li>
		<li><a href="/discord" target="_blank" class="button">Join our Discord</a></li>
		<!-- <li><a href="#sponsors" class="button">Our Sponsors</a></li> -->
		<!-- <li><a href="{{ .Site.Params.ctf_signup_url }}" class="button">Sign up for CTF</a></li> -->
	</ul>
</section>
