<footer id="footer">
	<ul class="icons">
		<li><a href="https://twitter.com/hackutk" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://github.com/hackutk" class="icon fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	</ul>
	<ul class="copyright">
		<li>&copy; 2015
			<script>
			new Date().getFullYear() > 2010 && document.write("-" + new Date().getFullYear());
			</script>, HackUTK. Site crafted by <a href="https://jaredmichaelsmith.com">Jared Smith</a>. Logo design by <a href="http://kveca.com">Kaleigh Veca</a>.</li>
	</ul>
</footer>
