<header id="header" class="alt">
	<h1><a href="index.html">HackUTK</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="meetings.html">Meetings</a></li>
			<li><a href="calendar.html">Calendar</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="leadership.html">Leadership</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="discord.hackutk.org" target="_blank" class="button">Join HackUTK</a></li>
		</ul>
	</nav>
</header>
