<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">
	{{ partial "head.html" . }}
	<body>
    <div id="page-wrapper">
		{{ partial "header.html" . }}

		{{ partial "banner.html" . }}

		<section id="main" class="container">
		<section class="box special">
			<header class="major">
			<h2>HackUTK is a community of passionate
			<br />
			hackers that love security, learning,
			<br />
			and building the world of tomorrow.</h2>
			<p>We organize regular meetings on computer security topics, compete in computer security competitions,
				<br /> and network with professionals in the security industry.</p>
			</header>
			<span class="image featured"><img src="images/headers/members2016.png" alt="" /></span>
		</section>
		<section class="box special features">
			<div class="features-row">
				<section>
					<span class="icon major fa-university accent2"></span>
					<h3>Training the next generation of security experts</h3>
					<p>We aim to provide bi-monthly meetings of members to discuss computer security topics, develop skills in security research and engineering, and hear from security professionals in our sponsor organizations.</p>
				</section>
				<section>
					<span class="icon major fa-code accent3"></span>
					<h3>Dominating the competition in Capture the Flag events</h3>
					<p>We participate in Capture the Flag (CTF) competitions as often as we can, bringing together students at UTK to work together in teams in these novel computer security competitions.</p>
				</section>
			</div>
			<div class="features-row">
				<section>
					<span class="icon major fa-users accent4"></span>
					<h3>Connecting our members with security professionals</h3>
					<p>We strive to connect our members with contacts in the computer security and technology industry, thus enabling our members to find exciting and cutting-edge opportunities in the industry during and after their time at UTK.</p>
				</section>
				<section>
					<span class="icon major fa-lock accent5"></span>
					<h3>Spreading the word about computer security</h3>
					<p>We are enabling the members of our organization to be able to go out and evangelize best practices in security to their future companies and workplaces, something that is desperately needed in a world of constant cyber attacks.</p>
				</section>
			</div>
		</section>
		<div class="row">
			<div class="6u 12u(narrower)">
				<section class="box special">
					<span class="image featured"><img src="images/carousel/teaching.jpg" alt="" /></span>
					<h3>Learning</h3>
					<p>We hold regular meetings where we teach valuable skills from beginner to advanced computer security and computer science concepts to our members. We also bring in industry professionals to give trainings based on their real-world experience.</p>
					<ul class="actions">
						<li><a href="/calendar" class="button alt">Calendar</a></li>
					</ul>
				</section>
			</div>
			<div class="6u 12u(narrower)">
				<section class="box special">
					<span class="image featured"><img src="images/carousel/IMG_7371.jpg" alt="" /></span>
					<h3>CTFs</h3>
					<p>We participate in several Capture the Flag (CTF) competitions per year, where our members computer security skills are truly put to the test. Mentors and engineers from our sponsor companies come out to help student teams while they compete.</p>
					<ul class="actions">
						<li><a href="calendar.html" class="button alt">Calendar</a></li>
					</ul>
				</section>
			</div>
		</div>

		</section>

{{ partial "cta.html" . }}

		{{ partial "footer.html" . }}
		{{ partial "script.html" . }}
	</body>
</html>
